#navbar 
  position: fixed
  min-width: 290px
  top: 0px
  left: 0px
  width: 300px
  height: 100%
  border-right: solid
  border-color: $grey
  background: $silver

  ul
    height: 78%
    overflow-y: auto
    overflow-x: hidden
    padding: 0
    @include responsive_mobile()
      height: 245px
    
  li
    width: 100%
    list-style: none
    border-top: 1px solid $grey
    
  @include responsive_mobile()
    position: absolute
    width: 100% 
    max-height: 350px
    z-index: 1
    border: 1px solid $grey

a.nav-link
  color: $black
  text-decoration: none
  padding: 10px 20px
  cursor: pointer
  display: block

  
a.author 
  text-decoration: underline
  font-weight: bold