#navbar 
  position: fixed
  min-width: 290px
  top: 0px
  left: 0px
  width: 300px
  height: 100%
  border-right: solid
  border-color: $grey
  background: $silver

  ul
    height: 90%
  li
    width: 100%
    list-style: none
    border-top: 1px solid $grey

a.nav-link
  color: $black
  text-decoration: none
  padding: 10px 20px
  cursor: pointer
  display: block

  
.author 
  a
    color: $black
    text-decoration: none
    padding: 10px 20px
    display: block