

html
    @include main-font
    font-size: 10px
    box-sizing: border-box

body
    text-align: center
    font-size: 1.6rem
    line-height: 1.5
    color: $dark-silver
    margin: 0
    

body::before 
    content: ''
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
    background: var(--color-darkblue)
    background-image: url(../img/phb.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: right

 
main
    // background-color: $silver
    margin: 0 15%
    background: $bg-red
    // margin: 15px 5px
    // padding: 15px
    // border-radius: 20px

a
    color: $grey
    // &:visited
        // color: $navy
    &:hover
        color: #FFFFFF
        

// COLOR SHORTCUTS
// $silver: #DDDDDD
// $black: #111111
// $dark-silver: #333
// $navy: #001F3F

// colors for links
// $teal: #39CCCC
// $blue: #0074D9