.form-section
    text-align: center
    // margin: 0 auto
    // height: 100px

#survey-form
    margin: 0 15%
    font-size: 30px
    @media (max-width: 900px) 
        margin: 0 5%

           
.form-group
    display: flex
    flex-direction: column
    text-align: start
    padding: 10px 30px
    

input
    height: 30px

select
    height: 36px

option  
        // color: $silver
p
    margin: 10px 0 0

input, option, select, textarea
    margin: 10px
    font-size: 20px
    border-radius: 5px
    border: 1px solid #fff
    background-color: #fff
   
dropdown
    height: 30px

.classes-group
    label
        font-size: 20px
        // line-height: 1
        height: 30px
    
