$white: #ffffff
$black: #111111
$purple: #B10DC9
$maroon: #85144b
$navy: #001f3f
$blue: #0074D9
$teal: #39CCCC

$silver: #DDDDDD
$grey: #AAAAAA
$dark-grey: #3d3d3d

@mixin bgggreen()
    background: rgb(61,153,112)
    background: linear-gradient(150deg, rgba(61,153,112,1) 30%, rgba(46,204,64,1) 100%)
    
@mixin bggblue()
    background: rgb(0,116,217)
    background: linear-gradient(150deg, rgba(0,116,217,1) 70%, rgba(57,204,204,1) 100%)

@mixin bggpink()
    background: rgb(63,94,251)
    background: linear-gradient(218deg, rgba(63,94,251,1) 66%, rgba(252,70,107,1) 100%)